/*
DART450
Week 01
CSS Animate on hover
Just some very basic styling of the text
*/

body {
	margin: 50px;
}

#text {
	font-family: Helvetica, sans-serif;
	font-size: 6em;
	font-weight: bold;
	color: black;
}

.resize {
	animation-name: resize;
	animation-duration: 5s;
	animation-fill-mode: backwards;
}

@keyframes resize {
	100% { font-size: 2em;
				 color: blue;
	}
}
